.container {
  margin: 10px;
  padding: 10px;
  height: 50vh;
  width: 40%;
  min-width: fit-content;
  min-height: fit-content;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 2px 10px #222;
}
