.card {
  color: #333;
  width: 40%;
  padding: 1rem;
  /* border: 2px black solid; */
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.27s;
  border-radius: 7px;
}

.card:hover {
  box-shadow: 5px 5px 8px 5px rgba(31, 30, 30, 0.513);
  background: rgba(255, 255, 255, 0.7);
  transform: scale(1.02);
}
