@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Amatic SC", cursive;
  font-size: 1.1rem;
  color: #b5824e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/main-bg.jpg");
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #112839;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b5824e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d48727;
}
